<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>run on battery power</key>
	<integer>0</integer>
	<key>stop when battery reaches</key>
	<integer>0</integer>
	<key>run only during hours</key>
	<integer>0</integer>
	<key>runHoursStartH</key>
	<string>12</string>
	<key>runHoursStartM</key>
	<string>00</string>
	<key>runHoursStartAMPM</key>
	<string>AM</string>
	<key>runHoursEndH</key>
	<string>12</string>
	<key>runHoursEndM</key>
	<string>00</string>
	<key>runHoursEndAMPM</key>
	<string>AM</string>
	<key>run only on days</key>
	<integer>0</integer>
	<key>run on days</key>
	<dict>
		<key>Sunday</key>
		<integer>1</integer>
		<key>Monday</key>
		<integer>1</integer>
		<key>Tuesday</key>
		<integer>1</integer>
		<key>Wednesday</key>
		<integer>1</integer>
		<key>Thursday</key>
		<integer>1</integer>
		<key>Friday</key>
		<integer>1</integer>
		<key>Saturday</key>
		<integer>1</integer>
	</dict>
	<key>subscribedToProject</key>
	<dict/>
</dict>
</plist>
