<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>run on battery power</key>
	<integer>0</integer>
	<key>stop when battery reaches</key>
	<integer>0</integer>
	<key>run only during hours</key>
	<integer>0</integer>
	<key>run hours start</key>
	<string>12:00am</string>
	<key>run hours end</key>
	<string>12:00am</string>
	<key>run on days</key>
	<dict>
		<key>Sunday</key>
		<integer>1</integer>
		<key>Monday</key>
		<integer>1</integer>
		<key>Tuesday</key>
		<integer>1</integer>
		<key>Wednesday</key>
		<integer>1</integer>
		<key>Thursday</key>
		<integer>1</integer>
		<key>Friday</key>
		<integer>1</integer>
		<key>Saturday</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
